@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap');


body {
  margin: 0;
  background: linear-gradient(to bottom, #ffffff 0%, #fff5ee 100%);
}

.heading {
  width: 50vw;
  height: 100vh;
  background: linear-gradient(to bottom, #f08080 0%, #ff99cc 100%);
  margin: 0;
  /* text-align: center; */
}

.header {
  position: absolute;
  top: 1%;
  left: 1.5%;
}

.header > h1 {
  color: white;
  font-size: 100px;
  font-family: 'Frank Ruhl Libre', serif;
}

.header > h4 {
  font-family: 'Frank Ruhl Libre', serif;
  color: white;
}

#symptom-form {
  position: absolute;
  top: 30%;
  left: 1.5%;
  color: white;
}

#doctor {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 600px;
  height: 90vh;
  margin: 0;
  overflow: scroll;
}

#symptom {
  border-radius: 5px;
}

label {

}

.button {
  border-radius: 5px;

}



li {
  padding: 10px;
}
